<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.*.*" />

    <bean id="bulletinService" class="com.company.BulletinService"/>
    <bean id="bulletinWebSocket" class="com.company.BulletinWebSocket"/>

    <task:annotation-driven scheduler="scheduler" mode="proxy"/>
    <task:scheduler id="scheduler" pool-size="10"/>

    <task:scheduled-tasks>
        <task:scheduled ref="bulletinWebSocket" method="sendMessage" cron="0/2 * * * * ?"/>
    </task:scheduled-tasks>
</beans>