server:
  port: 8083
spring:
  application:
    name: ticket
  datasource:
    url: jdbc:mysql://localhost:3306/jls_ticket
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    serviceUrl:
      defaultZone: http://jls:111111@localhost:8761/eureka/